body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: rgb(26, 188, 156);
    
}    
.nav_{
    background-color: rgb(44, 62, 80);
    height: 3rem;
    color: white;
}
.nav_ a,
.hamburger,
.navbar-toggler-icon{
    color: white;
}
.hamburger{
    
}
.cards{
    position: relative;
}
.cards a{
    text-decoration: none;
}
.cards :hover img{
    filter: drop-shadow(16px 16px 20px rgb(26,188,156)) invert(100%);
}
.cards i{
    display: none;
    /* color: white; */
    font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -270%;
    color: white;
    
}       
.cards :hover i{
    display: block;
}    


._btn{
    background-color:rgb(26, 188, 156); 
}
.img-profile{
    display: inline-block;
    height: 100px;
} 
.whiteline{
    border: 1px solid white;
    display: inline-block;
    width: 100%;
}
.blackline{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}
.white-section{
    background-color: rgb(251, 255, 254);
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.white-section img{
    width: 100%;
} 
.about{
    background-color: rgb(26, 188, 156);
    color: white;
    font-size: 14px;
    margin-top:5rem;
    min-height: 500px;
}
#download{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: .5rem;
    margin: .5rem;
}
.form{
    font-size: 20px;
    border-bottom: 1px solid grey;
}
.footer{
    background-color: rgb(58, 84, 109);
    color: white;
    min-height: 200px;
}
i{
    font-size: 30px;
}
.copyright{
    background-color: rgb(44, 62, 80);
    height: 5vh;
    color: white;
}
.btn-send{
    background-color:rgb(26, 188, 156);
    border: none;
}

    

