*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(26, 188, 156);
    color: white;
    font-size: 14px;
    /* min-height: 600px; */
}
.nav{
    min-height: 80px;
    background-color: rgb(44, 62, 80);
    color: white;

}
.header img{
    min-width: 100px;
    max-width: 200px;
}    

.whiteline{
    border: 1px solid white;
    width: 100%;
}
.blackline{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}
.white-section{
    background-color: rgb(251, 255, 254);
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.white-section img{
    width: 100%;
} 
.about{
    background-color: rgb(26, 188, 156);
    color: white;
    font-size: 14px;
    margin-top:5rem;
    min-height: 500px;
}
#download{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: .5rem;
    margin: .5rem;
}
.form{
    font-size: 20px;
    border-bottom: 1px solid grey;
}
.footer{
    background-color: rgb(58, 84, 109);
    color: white;
    min-height: 200px;
}
i{
    font-size: 30px;
}
.copyright{
    background-color: rgb(44, 62, 80);
    height: 5vh;
    color: white;
}

    

